extends plantilla.pug
block contenidos
    main.container--home
        section.main__news
            picture.main__news-pic
                img(src="./assets/imgs/contact-small.jpg", alt="Main image")
                .news-div
                    //- h1 WEB DESIGN
                    h1 No me alargaré
                    
        //- section.main__contact--news
        //-     .contact--div
                //- h1 CONTACT WITH US.
                //- p We work together with you, we create your Virtual store, website for entrepreneurs and much more ...
            //- button.main__contact--button Choose your plan
                
        section.main__contact--info
            p Por un momento pensé que si volvía a usar esto de darte un mensaje por una página iba a estar como muy trillado
            p pero luego me puse a pensar: Esto es algo que no he hecho por mas nadie y estando desde lejos no hay muchas cosas que pueda hacer para mostrarte lo mucho que me has llegado a importar en tan poco tiempo
            p Y creo que tu vales eso y mucho más.
            p Eres una mujer brillante, increible y muy valiosa.
            p y cuando te digo ue estoy muy feliz de conocerte es porque de verdad nunca me he maravillado tanto conociendo a una persona como contigo.
            p No se que será de todo esto en un tiempo, pero le pido a Dios que pueda ser algo de lo que nunca te lamentes.
            p bueno, esto es todo. Que tengas un buen dia.


        //-     h3 Location
        //-     p Caracas, Venezuela
        //-     h3 Email
        //-     p Castillovictor2461@gmail.com <br>https://github.com/vcbobby
        //-     h3 Movil
        //-     p +58 (414) 451-53-57
        //- form.main__contact--form
        //-     label(for="GET-name") Your Name (Required)
        //-     input(type="text" name="text" value="Name")
        //-     label(for="GET-name") Your Email (Required)
        //-     input(type="text" name="text" value="Email")
        //-     label(for="GET-name") Affair
        //-     input(type="text" name="text" value="Affair")
        //-     label(for="GET-name") Message
        //-     input(type="text" name="text" value="Your message")
        //-     input(type="submit", value="Send")
            

