footer.footer
    ul.footer__social
        li: a(href="#").fooder__social-icon: img(src="./assets/icons/fb-footer.png", alt="Facebook logo", title="Facebook")
        li: a(href="#").fooder__social-icon: img(src="./assets/icons/twitter-footer.png", alt="Twitter logo", title="Twitter")
        li: a(href="#").fooder__social-icon: img(src="./assets/icons/google-footer.png", alt="Google logo", title="Google")
        li: a(href="#").fooder__social-icon: img(src="./assets/icons/instagram-footer.png", alt="Instagram logo", title="Instagram")
        li: a(href="#").fooder__social-icon: img(src="./assets/icons/feed-footer.png", alt="Feed logo", title="Feed")
    p Design and Web development   |   Víctor Castillo