header.header
    nav.header__nav: ul
        li: a(href="#").header__nav-icon
            img(src="./assets/icons/llama.png", alt="call image", title="Call us!")
            p.li-p +58 (414) 451-53-57
        li: a(href="#").header__nav-icon
            img(src="./assets/icons/mail-header.png", alt="mail image", title="Mail us!")
            p.li-p Castillovictor2461@gmail.com
        .nav--social
            ul
                li: a(href="#").social--icon: img(src="./assets/icons/fb-header.png", alt="Search icon", title="What are you looking for?")
                li: a(href="#").social--icon: img(src="./assets/icons/twitter-header.png", alt="Search icon", title="What are you looking for?")
                li: a(href="#").social--icon: img(src="./assets/icons/google-header.png", alt="Search icon", title="What are you looking for?")
                li: a(href="#").social--icon: img(src="./assets/icons/instagram-header.png", alt="Search icon", title="What are you looking for?")
                li: a(href="#").social--icon: img(src="./assets/icons/feed-header.png", alt="Search icon", title="What are you looking for?")
    section.header__search
        picture.header__search-logo
            img(src="./assets/logos/Inkaven.png", alt="Logo image", title="Logo")
        ul.header__search-menu
            li: a(href="#").header__search-look: img(src="./assets/icons/magnifier.png", alt="Search icon", title="What are you looking for?")
            li: a(href="#").header__search-look: img(src="./assets/icons/lista.png", alt="Menu icon", title="This is the menú")