extends plantilla.pug
block contenidos
    main.container--who
        section.main__who
            .who--div
                h1 ABOUT US
                p Professionals in Digital Marketing, Web Development & Graphic Design
        section.main__who--info
            h2 INKAVEN
            h2 Web Page Design
            h3 to your measure
            p In the world there are countless web resources that can help your website, get it to be positioned in an organic and paid way, in the main internet search engines, we at inkaven.com have the right ones to achieve it.
            p With WordPress & Divi Theme we can create countless designs for dynamic and interactive web pages, which are really attractive for your target audience.
            picture.info--img
                img(src="./assets/icons/seo.png", alt="SEO image", title="Inkaven seo")
                img(src="./assets/icons/visibles.png", alt="Visibles image", title="Inkaven look")
            h2 We help you to be visible on the network.
            p We use cutting-edge techniques in Digital Marketing, which we apply to the design of your website to help us position your website within the main search engines in the market (google & Bing), increasing the value and potential of your business.
            h2 We analyze the market and the traffic of your website.
            p We design personalized ads aimed at the target audience that has visited your website, we apply retargeting to impact those users who have previously interacted with your brand.
            picture.info--img
                img(src="./assets/icons/trafico.png", alt="Traffic image", title="More traffic")
            h2 A website with a dynamic, intuitive and adaptable design.
            p The design of your website is totally personalized, we mean creating a custom design, but you don't really know what you want, we offer you personalized help, we advise you so that you can achieve your goals with the website you want to publish for your brand, product or business.
            h2 Our Work
            p In addition to designing and developing your website, we use Digital Marketing tools to position yourself in the main web search engines.
            +articles('seo-icon.png', 'Search Engine Optimization', 'We apply digital marketing techniques that help to position the website design in the main search engines.', 'See article')
            +articles('optimizacion.png', 'Content Optimization', 'We optimize all the content of your website at the SEO level, with a design that is understandable for the end user.', 'About')
            +articles('renovacion.png', 'Renewal of your websites', 'We reinvent your website with a new, unique and attractive design, we target the audience of your website with remarketing.', 'Our plans')
            +articles('disenos-web.png', 'Web designs', 'Our web structure is designed by professionals in the area, everything is created exclusively for your website.', 'Our designs')
            +articles('desarrollo.png', 'Website development', 'The code generated for your web page is created using WordPress, Divi, Html, CSS and JavaScript.', 'Our clients')
            +articles('community.png', 'Community Manager', 'We help raise the value of your brand, we create advertising campaigns through social networks.', 'Contact us')