.container--home
    width 100%
    padding-top 90px
    min-height 700px
    .main__news
        .main__news-pic:before
            height 300px
            margin-top 90px
            content ''
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            background-color rgba(0,0,0,0.6)
        .main__news-pic
            img
                width 100%
                min-height 300px
            .news-div
                width 100%
                text-align center
                margin 0 auto
                position absolute
                top 200px
                fonts(main-font)
                color light-letters
                h1
                    font-size 3rem
                    margin-bottom 15px
                    letter-spacing 0.7rem
                p
                    font-size 2rem
                    margin 0 15px 15px
                    line-height 2.5rem
                .main__button
                    buttons()
                a
                    font-size 2rem
                    color white
                    width 300px
                    padding 8px 30px
                    background-color gray
                    text-decoration none
                    border-radius 20px
                    height 50px
                    border 2px solid black
    .main__contact--info
        width 100%
        fonts(main-font)
        p
            font-size 3rem
    .main__products
        width 100%
        display flex
        flex-wrap wrap
        text-align center
        justify-content center
        align-items center

    .main__harmony
        display flex
        flex-direction column
        justify-content center
        align-items center
        text-align center
        width 100%
        background-color contact-background
        min-height 500px
        padding-bottom 20px
        color dark-letters
        fonts(main-font)
        h2
            font-size 4.2rem
            margin 60px auto 30px auto
        h3
            font-size 1.9rem
            margin-bottom 15px
        p
            font-size 1.5rem
            margin-bottom 15px
            padding 0 30px
            text-align justify
        .harmony--button
            width 190px
            height 70px
            border-radius 20px
            font-size 2.1rem
            margin 15px auto
            padding 10px 20px
            background-color rgba(button-main-color, 0.8)
            border 2px solid principal-color
            fonts(main-font)
            &:hover
                cursor pointer
                background-color hover-color
    .main__process
        width 100%
        min-height 500px
        text-align center
        fonts(main-font)
        color dark-letters
        h2
            font-size 2.8rem
            margin 3rem auto 2rem auto
            text-shadow 0rem 0.08rem 0rem rgb(124 218 36 / 40%)
        h3
            font-size 2.8rem
            margin 3rem auto 2rem auto
            opacity 0.9
        .process--box
            boxes()
            padding 0 50px
    .main__portfolio
        width 100%
        margin-top 20px
        fonts(second-font)
        color light-letters
        .portfolio--plans
            min-height 200px
            background-color plans-main-color
            padding-bottom 20px
            .plans--title
                padding 30px 20px 0 20px
                margin 0 auto 30px auto
                font-size 2.6rem
            .plans--paragraph
                font-size 1.4rem
                margin 0 auto
                text-align center
                letter-spacing 0.8rem
                margin-bottom 20px
                padding 0 30px
            .plans--button
                display flex
                justify-content center
                align-items center
                buttons()
                font-size 2rem
        .portfolio--design
            min-height 200px
            background-color contact-background
            padding-bottom 20px
            display flex
            align-items center
            justify-content center
            flex-direction column
            .design--title
                margin-top 30px

                font-weight 300
                letter-spacing 1rem
                font-size 2.2rem
                color dark-letters
            .design--button
                buttons()
                margin-top 30px
                font-size 2.2rem
    .main__exclusive
        width 100%
        text-align center
        min-height 500px
        fonts(main-font)
        color dark-letters
        h2
            text-align center
            font-weight 300
            font-size 2.8rem
            margin 1rem auto
            padding 0 30px
            text-shadow 0rem 0.08rem 0rem rgb(124 218 36 / 40%)
        .process--box
            margin 20px auto
            padding 0 45px
            boxes()
            img
                padding-bottom 30px
            p
                font-weight bold
    
    
// .container--home
        