@media (min-width 770px)
    .header__nav .nav--social
        display flex
        justify-content center
        align-items center
        text-decoration none
        font-size 1.2rem
        & li
            margin 0 10px
            padding-bottom 12px
    .container--home .main__harmony
        flex-direction row
        padding 0 100px
        & p
            max-width 600px
            
@media (min-width 980px)
    .container--home .main__portfolio
        display flex
        width 100%
        flex-direction row
        & .portfolio--plans
            width 50%
        & .portfolio--design
            width 50%